################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/YellowJHelp/FileContentIndex/609aa1cd-b655-4bf9-ae8a-00ce125e3454.vsidx
/.vs/YellowJHelp/FileContentIndex/b85bbd2d-a7f0-4719-b7b9-f404eaf3c6a2.vsidx
/.vs/YellowJHelp/FileContentIndex/79b7d7d8-a994-4312-8374-f8ad0e58c47c.vsidx
