################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/YellowJHelp/FileContentIndex/609aa1cd-b655-4bf9-ae8a-00ce125e3454.vsidx
/.vs/YellowJHelp/FileContentIndex/b85bbd2d-a7f0-4719-b7b9-f404eaf3c6a2.vsidx
/.vs/YellowJHelp/FileContentIndex/79b7d7d8-a994-4312-8374-f8ad0e58c47c.vsidx
/.vs/YellowJHelp/FileContentIndex/5869727a-f377-4937-a3a9-b7d6baeaa3c2.vsidx
/.vs/YellowJHelp/FileContentIndex/3168043d-a165-4fa2-9a50-f0f70026efb0.vsidx
/.vs/YellowJHelp/FileContentIndex/64d04c61-5636-4f2f-a9d7-47871b74aef5.vsidx
